body {
    background-color: #E8EDEA;
    color: #AF979E;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Beau Rivage', cursive;
}

h1 {
    color: #577575;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 44px;
}

h2 {
    font-size: 32px;
color: #688D8D;
font-weight: lighter;
}

a {
    text-decoration: none;
    color: #7c919c;
}

a:hover {
    color: #461e5c;
}

.container-main {
    max-width: 700px;
    margin: 10px auto;

}

@media (max-width: 768px) {
    .container-main {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .container-main {
        max-width: 300px;
    }
}

.card-white {
    background: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.btn-purple {
    background-color: #9b70f2;
    color: white;
    padding: 10px 20px;
    border radius: 4px;
}

.btn-purple:hover {
background-color: black;
color: white;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
}

.list-inline i:hover {
    color: black;
}

#introduction p {
margin-bottom: 40px;
}

